h1, h2{
    color: rgb(230, 233, 231);
  }
  body{
      /*#575D90* cor de fundo*/
    background-color: #333745;
  }
  p1{
    color:rgb(230, 233, 231);
  }
 ul, li{
    color:rgb(230, 233, 231);
  }
  img{
    border-radius: 525px;
     }
     h1, p, h2{
       font-family: Arial, Helvetica, sans-serif;
     }